<div id="abc" style= "display: none">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
<div id="form">
<p id="close">Close</p>
<h2>Follow a New Company</h2>
<hr>
<input id="newCompany" name="newCompany" placeholder="Company Name" type="text">
<button id="send">Send</button>
</div>
</div>
<!-- Popup Div Ends Here -->
</div>

<button id="addStock">Add Stock</button>
<div id="stocklist"></div>


