<div id="abc" style= "display: none">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- new Stock div -->
<div id="form">
<p id="close">Close</p>
<h2>Follow a New Company</h2>
<hr>
<input id="newCompany" name="newCompany" placeholder="Company Name" type="text">
<button id="send">Send</button>
</div>
</div>
<!-- Popup Div Ends Here -->
</div>

<div id="stocklist"></div>
<form action='/send_message' method='get'>
	<button>Text My Stocks</button>
</form>


