<div id="abc" style= "display: none">

<div id="popupContact">

<div id="form">
<button class='btn-link' id="closePopup">Close</button>
<h2 id='popupTitle'>Follow a New Company</h2>
<input id="newCompany" name="newCompany" placeholder="Company Name" type="text">
<button id="send">Send</button>
</div>
</div>

</div>


<div class="col-xs-12" id="stocklist"></div>



