<!-- 
<div id="abc" style= "display: none">

<div id="popupContact">

<div id="form">
<p id="close">Close</p>
<h2>Follow a New Company</h2>
<hr>
<input id="newCompany" name="newCompany" placeholder="Company Name" type="text">
<button id="send">Send</button>
</div>
</div>

</div> -->

<div class='modal fade' id='addStock' role='dialog'>
	<div class="modal-dialog">
		<div class='modal-content'>
			<div class='modal-header'>
				<p> New Company </p>
			</div>
		</div>
	</div>
</div>

<button id="addStock">Add Stock</button>
<div id="stocklist"></div>
<form action='/send_message' method='get'>
	<button>Text My Stocks</button>
</form>


