<header class="navbar navbar-fixed-top navbar-inverse">
	<% if user_signed_in? && current_user.profile != nil %>
		<div class='col-xs-4' id='userinfo'>
			<h5>Signed in as: <%= current_user.profile.username.capitalize %></h5>
			<h5><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h5>
		</div>

		<div class='col-xs-4' id='title'>
			<h1> Money Never Sleeps </h1>
		</div>

		<div class='col-xs-4' id='login'>
			<h5> <a href="/show"> My Profile </a> </h5>
		</div>

	<% else %>
		<div class='col-xs-4' id='title'>

		</div>

		<div class='col-xs-4' id='title'>
			<h1> Money Never Sleeps </h1>
		</div>

		<div class='col-xs-4' id='login'>
			<h5>
				<a href='/users/sign_in'> Login </a>
			</h5>

			<h5>
				<a href='/users/sign_up'> Sign Up </a>
			</h5>
		</div>
	<% end %>
</header>

<div id="aboutUsPage">
	<div class='col-xs-12' id='aboutTitle'>
		<h1> About Us </h1>
		<h3> Money Never Sleeps is an application that allows user to follow stocks. Once the user selects the stocks, this application will send out a text message to the user at 9 AM, 11 AM, 1 PM, and 3 PM. This text message will include all the stocks and their most current price. Get started by signing up or login to go to your profile. </h3>
	</div>

</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>









